/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* header  */
header{
    margin: 50px 139px 130px 140px;
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1321px;
    height: 646px;
}
.header-text{
    width: 50%;
    padding: 111px 24px 111px 106px;
}
.header-text h1{
    font-size: 70px;
     line-height: 70px; 
     margin-bottom: 20px;
}
.header-text p{
    font-Size:16px;
    Line-height: 26px;
    margin-bottom: 30px;
}
.header-image{
    width: 50%;
}
.header-text button{
    background-color: red;
    padding: 16px 50px 17px 40px;
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 20px;
}
.header-image img{
    width: 93%;
}
/* Main section  */
.container{
    display: flex;
}
.left-side{
    width: 20%;
    margin: 0 24px 0 140px ;
}
.side-bar{
    width: 90%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.side-bar button{
    background-color: white;
    width: 200px;
    height: 50px;
    border-style: none;
    border-radius: 5px;
    margin-top:30px;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: bold;
}
#blog{
    background-color: red;
    color: white;
}
.side-bar a{
    text-decoration: none;
    color: black;
}
.side-bar a:hover{
        cursor:pointer;
}
/* Gallery card section start  */
.gallery-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card-1{
    width: 312px;
    height: 362px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 5px;
    margin: 0 24px 24px 0;
}
.card-1 button{
    padding: 4px 16px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px 0 15px 20px ;
}
.card-1 h4{
    font-size: 18px;
    padding-left: 16px;
}
.duration-time{
    display: flex;
    margin: 20px;
    gap: 40px;
}

/* Gallery card section end  */

/* For upcomming-match start */
.flag{
    display: flex;
}
.flag-img{
    margin: 25px;
}
.flag h1{
    margin-top: 30px;
}
.flag-name{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.flag-date{
    margin-top: 10px;
    text-align: center;
    color: #4D4D4D;
}
.flag-1{
    width: 312px;
    height: 242px;
    border: 1px solid rgb(224, 223, 223);
    border-radius: 10px;
    margin: 0 24px 24px 0;
}
/* Upcoming match end  */

/* footer  */
footer{
    margin-top:130px;
    width: 100%;
    height: 444px;
    background-color: black;
    color: white;

}
footer h1{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
}
hr{
    width:80%;
    margin: auto;
}
.service{
    font-size: 17px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #B9B9B9;
}

